body {
  background-color: white;
}

.theFont {
  font-family: 'Josefin Sans', sans-serif;
}
.ui.menu .item img.ui.mini.image {
  margin-right: 1.5em;
}

.ui.main.text.container {
  margin-top: 7em;
}

.ui.main.text.container .ui.image {
  margin-top: 2em;
}

.title {
  font-size: 40px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;;
}

.hugeText { 
  font-size: 65px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.footer {
  position: absolute center;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.resultFont {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}